$main-color: #40b946;
$second-color: #e2973c;
$second-hover-color: #d28323;

$font-stack: 'Lato', 'Arial', sans-serif;
$font-main-color: black;
$font-second-color: white;

/// Theme colors
/// Named with http://chir.ag/projects/name-that-color
$crimson: #cc0d34;
$alizarin-crimson: #ed1e24;
$cornflower-blue: #6195ed;
$burnt-sienna: #ef7069;
$emperor: #544a53;
$chestnut-rose: #cc4955;

/**
 * Vertical Rhythm, which is used throughout the code.
 * @type Length
 */
$vertical-rhythm-baseline: 1.5rem;

/**
 * Variables for mixin respond-to
 */
$breakpoints: (
        'small': (max-width: 400px),
        'medium': (max-width: 800px),
        'large': (max-width: 1000px),
        'huge': (max-width: 1200px),
);