@import "../utils/variables";
@import "../utils/mixins";

.block-tags {
  .block-tags_item {
    padding: 0 0.25em;
  }

  .block-tags_icon {
    margin-right: 0.25em;
  }
}

/// Tiles
.block-tile_image {
  max-width: 100%;
  width: 100%;
  display: block;
}

.block-tile_description{
  min-height: 250px;
  padding: 1em;
  color: $font-second-color;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;

  /// modifier for background color of description block
  &.block-tile_description__crimson{
    background-color: $crimson;
  }
  &.block-tile_description__alizarin-crimson {
    background-color: $alizarin-crimson;
  }

  &.block-tile_description__cornflower-blue{
    background-color: $cornflower-blue;
  }

  &.block-tile_description__burnt-sienna{
    background-color: $burnt-sienna;
  }

  &.block-tile_description__emperor {
    background-color: $emperor;
  }

  &.block-tile_description__chestnut-rose {
    background-color: $chestnut-rose;
  }
}

.block-tile_text{
  border-bottom: 1px dashed $font-second-color;
  padding-bottom: 2em;
  word-spacing: 2px;
}

.block-tile_link{
  @include absolute(bottom 1em right 1em);
  color: $font-second-color;
  text-decoration: none;
}

.block-tile_icon{
  margin-right: 0.25em;
}
