@import "../utils/variables";
@import "../utils/mixins";

.block-links{
  @include absolute(bottom 1em right 1em);

  &.block-links__white{
    
    .block-links_item{
      color: $font-second-color;

      & ~ .block-links_item{
        margin-left: 1em;
      }
    }
  }
}

.block-links_item{
  text-decoration: none;
}

.block-links_icon{
  margin-right: 0.25em;
}

