@import "../utils/mixins";

.layout-home-page {
  background: $main-color url("../images/home-cover.jpeg") center center no-repeat fixed; // ToDo resolve urls
  background-size: contain;
  width: 100%;
  max-width: 100%;
  height: 100%; // set height to page for sticky footer
  font-weight: 400;
  color: $font-second-color;
}

.block-hgroup-h1{
  font-weight: 400;
  padding-top: 20px;
}

.block-hgroup-h2{
  font-weight: 300;
}
