@import '../utils/variables';
@import '../utils/mixins';

.layout-works-page{
  background-color: #efefef;

  .layout-wrap{
    padding-top:50px;
  }

  .block-hgroup{
    @include center-inline-block();
    margin: 50px 0;
    width: 100%;

    .block-hgroup-h1,
    .block-hgroup-h2{
      text-transform: uppercase;
      font-weight:400;
    }

    .block-hgroup-h3{
      font-weight:400;
    }
  }
}


