@import '../utils/variables';
@import '../utils/mixins';

.works-page{
  background-color: #efefef;

  .wrap{
    padding-top:50px;
  }

  .headers-block{
    @include center-inline-block();
    margin: 50px 0;
    width: 100%;

    h1, h2{
      text-transform: uppercase;
      font-weight:400;
    }

    h3{
      font-weight:400;
    }
  }
}


