@import '../utils/variables';
@import '../utils/mixins';

.works-page{
  background-color: #efefef;
  .headers-block{
    @include center-inline-block();
    margin: 50px 0;
    width: 100%;

    h1, h2{
      text-transform: uppercase;
    }
  }
}


