@import "../../../node_modules/susy/sass/susy";
@import "../utils/variables";
@import "../utils/mixins";

/// Changing Susy default global settings
$susy: (
  /// Tells Susy to use 12 columns
        columns: 12,
  /// Tells Susy that the container has a max-width of 1120px
        container: 900px,
  /// Tells Susy to use border-box
        global-box-sizing: border-box
);

/// Makes border-box properties
@include border-box-sizing;

/// Using the container mixin to create the container for the website
//  whenever you use Susy.
.layout-wrap {
  @include container;
}

/// CSS-only Responsive Masonry

.layout-masonry {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;

  @include respond-to(medium) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;  }

  @include respond-to(small) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;  }

  .layout-masonry_item {
    display: inline-block;
    background-color: white;
    margin: 0 0 1em;
    width: 100%;
    box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
  }

}


