

form{
    margin: 50px auto 0;
    width: 500px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
}

input[type='checkbox'],
input[type='radio']{
    width: auto;
    float: none;
}

.error-msg{
    display: none;
}

.has-error{
    border: 1px solid red;
}

.tabs{
    width: 500px;
    margin: 50px auto 0;
}

.tab1, .tab2{
    cursor: pointer;
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

#myForm2{
    display: none;
}